body {
    background-color: beige;
}

#animation {
    border: 3px solid;
    background-image: url('img/unnamed.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 800;
    height: 728;
}

.main {
    display: flex;
    justify-content: center;
}